<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.myflaskapp.gunicorn</string>
    <key>WorkingDirectory</key>
    <string>/Users/bk/repos/chesscom-analysis-unlocker</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/bk/repos/chesscom-analysis-unlocker/venv/bin/gunicorn</string>
        <string>-b</string>
        <string>192.168.1.68:5002</string>
        <string>server:app</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/bk/repos/chesscom-analysis-unlocker/gunicorn.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/bk/repos/chesscom-analysis-unlocker/gunicorn_error.log</string>
</dict>
</plist>
